<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Gerenciamento de Serviços</title> 
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
	<script src="js/servicos/funcoes.js"></script>
</head>
<body>
	<div>
		<% if(servicos.length == 0){ %>
			<p>Você ainda não tem serviços</p>
		<% } else{ %>
			<ul>
				<% for(var i = 0; i < servicos.length; i++){ %>
					<li>
						<h2><b><%= servicos[i].nomeProjeto %></b></h2>
						<% 
							var dia = (servicos[i].data_solicitacao.toString()).substring(8, 10);
							var mes = retornarMes((servicos[i].data_solicitacao.toString()).substring(4, 7));
							var ano = (servicos[i].data_solicitacao.toString()).substring(11, 15);

							var horario = (servicos[i].data_solicitacao.toString()).substring(16, 21);

							var stringData = dia + '/' + mes + '/' + ano;
						%>
						<h3>Pedido em: <%= stringData %> às <%= horario %></h3>
						<p><%= servicos[i].observacao %></p>
						<% if(servicos[i].statusServico == 0){ 
							var dia = (servicos[i].data_termino.toString()).substring(8, 10);
							var mes = retornarMes((servicos[i].data_termino.toString()).substring(4, 7));
							var ano = (servicos[i].data_termino.toString()).substring(11, 15);
							var horarioTermino = (servicos[i].data_termino.toString()).substring(16, 21);
							var stringDataTermino = dia + '/' + mes + '/' + ano;
						%>		
							<h3>Status: Concluído</h3>
							<h3>Realizado por: <%= servicos[i].nomeResponsavel %></h3>
							<h3>Finalizado em: <%= stringDataTermino %> às <%= horarioTermino %></h3>
						<% } %>
						<% if(servicos[i].statusServico == 1){ %>
							<h3>Status: Aguardando início</h3>
							<button type="button" onclick="iniciarServico(<%= servicos[i].id_servico %>)">Começar</button>
						<% } %>
						<% if(servicos[i].statusServico == 3){ 
							if(idUsuario == servicos[i].id_responsavel){ %>
								<button type="button" onclick="mandarParaAprovacao(<%= servicos[i].id_servico %>)">Mandar para aprovação</button>
							<% } %>
							<h3>Status: Em andamento</h3>
							<h3>Responsável: <%= servicos[i].nomeResponsavel %></h3>
						<% } %>
						<% if(servicos[i].statusServico == 4){ %>
							<h3>Status: Aguardando aprovação do cliente</h3>
							<h3>Realizado por: <%= servicos[i].nomeResponsavel %></h3>
						<% } %>
					</li>
				<% } %>
			</ul>
		<% } %>
	</div>

	<% 
		function retornarMes(stringMes){
			switch(stringMes){
				case "Jan": return "01";
				case "Feb": return "02";
				case "Mar": return "03";
				case "Apr": return "04";
				case "May": return "05";
				case "Jun": return "06";
				case "Jul": return "07";
				case "Aug": return "08";
				case "Sep": return "09";
				case "Oct": return "10";
				case "Nov": return "11";
				case "Dec": return "12";
			}
		}
	%>
</body>
</html>