<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>Painel</title> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
	<script src="js/projetos/projetos.js"></script>
	<script src="js/projetos/funcoes.js"></script>
</head>
<body>
	<button type="button" id="novoProjeto">Criar novo projeto</button>
	<div id="conteudo">
		<% if(projetos.length == 0){ %>
			<p>Você ainda não tem projetos</p>
		<% } else{ %>
			<ul>
				<% for(var i = 0; i < projetos.length; i++){ %>
					<% if(projetos[i].status != 50){ %>
						<li>
							<h2><b><%= projetos[i].nome %></b> - <%= projetos[i].servicos %> serviços solicitados</h2>
							<h3>Status do projeto: 
								<% switch(projetos[i].status) {
									case 0: var status = "Inativo"; break;
									case 1: var status = "Ativo"; break;
								}
								%><%= status %></h3>
							<% if(projetos[i].status == 0) { %>
								<button type="button" onclick="retomarProjeto(<%= projetos[i].id_projeto %>)">Retomar projeto</button>
							<% } %>	
							<% if(projetos[i].status == 1) { %>
								<button type="button" onclick="pausarProjeto(<%= projetos[i].id_projeto %>)">Pausar projeto</button>
							<% } %>	
							<button type="button" onclick="excluirProjeto(<%= projetos[i].id_projeto %>)">Excluir projeto</button>
							<button type="button"><a href="servico?projeto=<%= projetos[i].id_projeto %>">Ver serviços do projeto</a></button>
						</li>
					<% } %>
				<% } %>
			</ul>
		<% } %>
	</div>
</body>
</html>